@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Fetch pages synchronously</h2>
        <p><a class="btn btn-default" href="@Url.Action("SyncFetch")">Open</a></p>
    </div>
    <div class="col-md-3">
        <h2>Fetch pages naively asynchronously</h2>
        <p><a class="btn btn-default" href="@Url.Action("NaiveAsyncFetch")">Open</a></p>
    </div>
    <div class="col-md-3">
        <h2>Fetch pages in parallel</h2>
        <p><a class="btn btn-default" href="@Url.Action("ParallelFetch")">Open</a></p>
    </div>
    <div class="col-md-3">
        <h2>Fetch pages truly asynchronously</h2>
        <p><a class="btn btn-default" href="@Url.Action("AsyncFetch")">Open</a></p>
    </div>
</div>
